name: Deploy Application

on:
  workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout infra repo
        uses: actions/checkout@v4

      - name: Pull images
        run: docker compose pull

      - name: Run containers
        run: docker compose up -d
